/* set size styles for the page */
html {
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: azure;
}
/* remove indents from all elements */
* {
    margin: 0;
    padding: 0;
}
/* add header styles */
.header-title {
    text-align: center;
    margin: 2rem auto;
    font-size: 4rem;
}
/* add input block style */
.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-around;
}
/* add block styles */ 
.block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 0.25rem solid gray;
}
/* add form styles */
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* add styles for form fields */
.form-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
/* add label styles */
label {
    font-size: 2rem;
}
/* add input styles */
input {
    border: 0.25rem solid gray;
    background-color: rgba(0, 0, 0, 0.8);
    color: azure;
    font-size: 1.8rem;
}
/* add button styles */
.btn {
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.25rem solid gray;
    color: azure;
    margin: 0 auto;
}
/* add entered styles */
.entered, .entered-out {
    margin: 0rem 3.5rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* add title block styles */
.entered-title {
    font-size: 2.6rem;
}
/* add output styles */
.output {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
/* add output header styles */
.output-title {
    font-size: 3.3rem;
}
/* add styles to the result block */
.output-res {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
/* add entered-out block styles */ 
.salaries-out, .team-out {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 3rem;
}
/* add item entered styles */ 
.out-item {
    text-align: left;
    font-size: 1.5rem;
    border: 1px solid gray;
    padding: 2rem;
    width: 15rem;
}
.error {
    position: fixed;
    top: 20%;
    left: 20%;
    right: 20%;
    border: 1px solid black;
    border-radius: 3rem;
    padding: 3rem 4rem;
    background-color: brown;
    color: azure;
    font-size: 5rem;
    text-align: center;
}